.view-icon-group {
  text-align: center;
  position: relative;
 
  .fa-eye {
    font-size: 18px;
    color: rgb(32, 32, 204);
  }

}
.policy-history-btn {
  margin: 0px 7px;
}
.description {
  table,td, th {
    border: 2px solid black;
    padding: 4px 10px !important;
  }
 
}