.tags-input {
  display: inline-flex;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
  font-size: 14px;
  border-radius: 3px;

  input {
    width: 100%;
    border: none;
    outline: none;
  }

  .tag {
    display: inline-flex;
    padding: 2px 5px;
    background-color: #fdb630;
    border-radius: 3px;
    max-width: 100px;
    justify-content: space-evenly;
    align-items: center;

    .delete-icon {
      margin-left: 5px;
      padding: 0;
      width: 15px;
      height: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 10px;
      float: right;
      font-weight: bold;
      cursor: pointer;
      border-radius: 50px;
      border: none;
      outline: none;
      user-select: none;
    }
  }
}

.file-label {
  position: relative;

  .pencil-icon-logo-container {
    position: absolute;
    bottom: -5px;
    right: -6px;
    z-index: 2;
  }
}

.project-logo-controller {
  position: relative;
  max-width: 200px;

  .remove-image-icon-container {
    position: absolute;
    z-index: 3;
    bottom: 7px;
    right: 50px;
  }
  .pencil-icon-container {
    position: absolute;
    top: -5px;
    right: -10px;
  }
}