.second-guardian-container {
  margin-left: -30px;
}
.second-guardian-address {
  margin-top: 16px;
}
.remove-address-container-margin {
  margin-top: 0px;
}
.second-guardian-title {
  margin-left: 120px;
}