.date-picker {
  position: relative;

  &::after {
    content: '';
    background: url('../../../../../../_metronic/assets/image/calender.svg');
    background-repeat: no-repeat;
    width: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 7px;
    height: 40px;
    z-index: 3;
  }
}
.fv-help-block {
  margin: 10px 0px;
}


.profile-picture-controller {
  position: relative;
  max-width: 200px;
  .remove-user-select-image-icon-container {
    position: absolute;
    z-index: 3;
    right: 55px;
    top: -6px;
  }
  .pencil-icon-container {
    position: absolute;
    bottom: -4px;
    right: -6px;
  }
}
