.ck {
    max-height: fit-content;
}

html[data-theme="dark"] {
    .ck-reset_all {
        color: #fff;

        &::not(.ck-reset_all-excluded *) {
            color: #fff;
        }
    }

    .ck.ck-button {
        color: #fff;
        background: transparent;

        &:hover {
            background: transparent;
        }
    }

    .ck-dropdown__panel.ck-dropdown__panel_se {
        .ck.button {
            color: #000;
        }

        &.ck-dropdown__panel-visible {
            background: #000;

            .ck-list {
                background: #000;

                button {
                    outline: none;

                    &:hover {
                        color: #000;
                    }

                    &.ok-on {
                        outline: none;
                        box-shadow: none;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }

            }
        }
    }

    .ck.ck-dropdown.ck-toolbar__grouped-dropdown.ck-toolbar-dropdown {
        .ck-dropdown__panel-visible {
            button {
                svg {
                    color: #000;
                }
            }
        }
    }

    .ck.ck-toolbar {
        background: transparent;
    }

    .ck.ck-editor__main>.ck-editor__editable {
        background: transparent;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul li,
        a {
            color: #fff;
        }
    }
}